@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green: rgb(57, 151, 57);
  --green-border: rgb(47, 146, 47);
  --brown: rgb(170, 110, 19);
  --brown-border: rgb(122, 78, 11);
}
